---
import Header from "@/islands/Header.tsx";
import Footer from "@/islands/Footer.tsx";
import "@/astro/styles.css";

interface Props {
  title: string;
  active: string;
  favicon: string;
  class?: string;
}

const { title, active, favicon, class: className } = Astro.props;
const user = Astro.locals.user ?? null;
---

<html lang="en" data-theme="synthwave">
  <head>
    <script is:inline>
      const savedTheme = localStorage.getItem("theme");
      const theme = savedTheme === "dracula" ? "dracula" : "synthwave";
      document.documentElement.setAttribute("data-theme", theme);
    </script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
    </style>
    <meta charset="UTF-8" />
    <link rel="preload" href="/logo.svg" as="image" />
    <link rel="preload" href="/web.svg" as="image" />
    <link rel="preload" href="/home.svg" as="image" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href={favicon} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header active={active} user={user} client:load />
    <main class={`flex-1 ${className ?? ""}`}>
      <slot />
    </main>
    <Footer active={active} />
  </body>
</html>
